*{
    margin: 0;
    padding: 0;
  
  }
  body{
    
    font-family: 'Poppins', sans-serif;
  
  
  }
  
  .nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    border-bottom: 2px solid white;
    background-color:#0e0276;
    z-index: 1000;
  }
  .menu{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .menu ul li{
    list-style: none;
    float: left;
    padding: 15px;
    
  }
  .menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  
  
  }
  .menu .fa-solid{
    margin-right: 5px;
  }
  .form{
    width: 20%;
  
  }
  .box{
    border: none;
    background: transparent;
    text-decoration: none;
    width: 100px;
    height: 45px;
    border: 1px solid none;
    border-radius: 4px;
    background: #07013c;
    margin-right: 10px;
  
    }
    .box a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    }
    
    .header{
      position: relative;
      top: 55px;
    }
    .main{
      
      margin: 0px 0px;
    }
    .pic-img{
      
      width: 100%;
      height: 350px;
      background-image:url(../images/bannerCV\ \(2\).png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .main.pic-img::after{
      content:'';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.55);
      
      }
      .content{
      position: absolute;
      top: 50%;
      left: 45%; 
      transform: translate(-50%,-50%);
      text-align: center;
      }
      .content, h1 p{
      color: white;
      text-align: center;
      
      }
      .content p{
      margin-top: 20px;
      margin-bottom: 20px;
      
      }
      .content button{
      border: none;
      width: 200px;
      height: 60px;
      background-color: orange;
      color: #fff;
      border-radius: 5px;
      font-size: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
      }
      .create-cv-btn {
        background-color: #28a745;
         color: #fff;
      }
      .create-cv-btn:hover {
        background-color: #6c5bff; 
        color: #fff;
      }
    
    .cvs .cv-container{  
      margin-top:20px ;
      display: grid;
      grid-template-columns: repeat(4 , 250px);
      grid-template-rows: repeat(4, 330px);
      justify-content: center;
      grid-gap: 2rem; 
  }
  .cvs .cv-container .cv{
    border: 1px solid none;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    transition: transform 0.3s; 
    margin: 20px;
    
  }
  h1{
    text-align: center;
     margin-top: 0px;
  }
  
  .cvs .cv-container .cv:hover{
      transform: scale(1.03); 
  }
  
  .cvs .cv-container .cv img{
      width: 100%;
      height: 15rem;
      object-fit: cover;
      transition: transform 0.3s; 
  }
  
  .cvs .cv-container .cv img:hover {
      transform: scale(1.1); 
  }
  
  .cvs .cv-container .cv .content{
      padding: 2rem;
      background: #f9f9f9; 
  }
  
  .cvs .cv-container .cv .icons{
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 15px;
   
  }
  .cvs .cv-container .cv .icons button{
        border-radius: 5px;
        font-size: 0.81rem;
        outline: none;
        border: none;
        padding: 4px;
  }
  .cvs .cv-container .cv .icons button i{
    margin-right: 2px;
  }
  .cvs .cv-container .cv p{
    font-size: 20px;
    margin: 10px;
  }
  .cvs .cv-container .cv{
    border: 1px solid none;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background: #fff;
    transition: transform 0.3s;
    margin: 0px;
    
  }
  
  .cvs .cv-container .cv:hover{
      transform: scale(1.03); 
  }
  
  .cvs .cv-container .cv img{
      width: 100%;
      height: 15rem;
      object-fit: cover;
      transition: transform 0.3s; 
  }
  
  .cvs .cv-container .cv img:hover {
      transform: scale(1.1); 
  }
  
  .cvs .cv-container .cv .content{
      padding: 2rem;
      background: #f9f9f9; 
  }
  
  .cvs .cv-container .cv .icons{
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 15px;
   
  }
  .cvs .cv-container .cv .icons button{
        border-radius: 5px;
        font-size: 13px;
        outline: none;
        border: none;
        padding: 4px;
  }
  .cvs .cv-container .cv .icons button i{
    margin-right: 2px;
  }
  .cvs .cv-container .cv p{
    font-size: 1.25rem;
    margin: 0.6rem;
  }
  .cvs .cv-container .cv p:hover {
    color: #1601fe;
  }

 .footer{
    width: auto;
    height: 400px;
    /* border-top: 2px solid #6a5af9; */
    margin-top: 40px;
    
    background: #07013c;
    }
    .footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    margin-top: 10px;
    }
    .page img{
    width: 10rem;
    height: 5rem;
    
    }
    
    .page p{
    color: white;
    font-size: 15px;
    line-height: 2rem;
    margin-bottom: 10px;
    }
    .page .share a{
    text-decoration: none;
    height: 3rem;
    width: 3rem;
    border-radius: .5rem;
    background: #666;
    color: white;
    text-align: center;
    line-height: 3rem;
    font-size: 20px;
    }
    .page .share a:hover{
    background: orange;
    color: white;
    }
    .contact-infor h3{
    color: white;
    margin-top: 10px;
    }
    .contact-infor a {
    
    text-decoration: none;
    display: block;
    font-size: 15px;
    line-height: 2.5rem;
    color: white;
    }
    .contact-infor a i{
    margin-right: 10px;
    }
    .contact-infor a:hover{
    color: orange;
    }
    .menu-bar{
    color: white;
    margin-top: 10px;
    }
    .menu-bar a{
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: white;
    line-height: 2.5rem;
    }
    .menu-bar a i{
     
    padding-right: 10px;
    }
    .menu-bar  .link:hover i{
    margin-right: 1rem;
    } 