*{
  margin: 0;
  padding: 0;

}
body{
  font-family: 'Poppins', sans-serif;
}

.nav{
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #07013c;
  z-index: 9999;
}
.menu{
  display:flex;
  justify-content: space-between;
  /* align-items:center; */
}
.menu-icons .nav-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-icons .nav-link li{
  list-style: none; 
  margin: 25px 40px 0 40px;
}
.menu-icons .nav-link li a{
  text-decoration: none;  
  color: white;
  position: relative;
}
.nav-link  .fa-solid{
  margin-right: 5px;
}
.menu .logo img{
  margin-top: 7px;
  margin-left: 10px;
  height: 60px;
  object-fit: cover;
  width: 100%;
}
.menu button{
  border: none;
  background: transparent;
  background: #362aa2b7;
  width: 90px;
  height: 40px;
  margin-right: 10px;
  margin-top: 15px;
  border-radius: 4px;
}
.menu button a{
  text-decoration: none;
  color: white;
}

.nav-link .active a::after,
.menu-item a::after {
content:"";
position: absolute;
width: 100%;
height: 2px;
background-color: white;
bottom: -7px;
left: 0;
visibility: visible; 
transition: .5s
}
.menu-item  a::after{
visibility: hidden;
transform: scaleX(0);
}
.nav-link .active a::after {
visibility: visible; 
transform: scaleX(1); 
} 
.menu-item a:hover::after {
  visibility: visible; 
  transform: scaleX(1); 
  
}
.form{
  width: 20%;
}
.box{
border: none;
background: transparent;
text-decoration: none;
width: 100px;
height: 45px;
border: 1px solid none;
border-radius: 4px;
background: #423f32;
margin-right: 10px;


}
.box a{
text-decoration: none;
color: white;
font-size: 17px;
}
    
    .header{
      position: relative;
      top: 55px;
    }
    .main{
      
      margin: 0px 0px;
    }
    .pic-img{
      
      width: 100%;
      height: 350px;
      background-image:url(../images/bannerCV.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .main.pic-img::after{
      content:'';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      
      
      }
      .content{
      position: absolute;
      top: 50%;
      left: 45%; 
      transform: translate(-50%,-50%);
      text-align: center;
      }
      .content, h1 p{
      color: white;
      text-align: center;
      
      }
      .content p{
      margin-top: 20px;
      margin-bottom: 20px;
      
      }
      .content button{
      border: none;
      width: 200px;
      height: 60px;
      background-color: orange;
      color: #fff;
      border-radius: 5px;
      font-size: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
      }
      .create-cv-btn {
        background-color: #28a745;
         color: #fff;
      }
      .create-cv-btn:hover {
        background-color: #6c5bff; 
        color: #fff;
      }
    
    .cvs .cv-container{  
      margin-top:20px ;
      display: grid;
      grid-template-columns: repeat(4 , 250px);
      grid-template-rows: repeat(4, 330px);
      justify-content: center;
      grid-gap: 2rem; 
  }
  .cvs .cv-container .cv{
    border: 1px solid none;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    transition: transform 0.3s; 
    margin: 20px;
    
  }
  h1{
    text-align: center;
     margin-top: 0px;
  }
  
  .cvs .cv-container .cv:hover{
      transform: scale(1.03); 
  }
  
  .cvs .cv-container .cv img{
      width: 100%;
      height: 15rem;
      object-fit: cover;
      transition: transform 0.3s; 
  }
  
  .cvs .cv-container .cv img:hover {
      transform: scale(1.1); 
  }
  
  .cvs .cv-container .cv .content{
      padding: 2rem;
      background: #f9f9f9; 
  }
  
  .cvs .cv-container .cv .icons{
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 15px;
   
  }
  .cvs .cv-container .cv .icons button{
        border-radius: 5px;
        font-size: 0.81rem;
        outline: none;
        border: none;
        padding: 4px;
  }
  .cvs .cv-container .cv .icons button i{
    margin-right: 2px;
  }
  .cvs .cv-container .cv p{
    font-size: 20px;
    margin: 10px;
  }
  .cvs .cv-container .cv{
    border: 1px solid none;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background: #fff;
    transition: transform 0.3s;
    margin: 0px;
    
  }
  
  .cvs .cv-container .cv:hover{
      transform: scale(1.03); 
  }
  
  .cvs .cv-container .cv img{
      width: 100%;
      height: 15rem;
      object-fit: cover;
      transition: transform 0.3s; 
  }
  
  .cvs .cv-container .cv img:hover {
      transform: scale(1.1); 
  }
  
  .cvs .cv-container .cv .content{
      padding: 2rem;
      background: #f9f9f9; 
  }
  
  .cvs .cv-container .cv .icons{
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 15px;
   
  }
  .cvs .cv-container .cv .icons button{
        border-radius: 5px;
        font-size: 13px;
        outline: none;
        border: none;
        padding: 4px;
  }
  .cvs .cv-container .cv .icons button i{
    margin-right: 2px;
  }
  .cvs .cv-container .cv p{
    font-size: 1.25rem;
    margin: 0.6rem;
  }
  .cvs .cv-container .cv p:hover {
    color: #1601fe;
  }

 .footer{
    width: auto;
    height: 400px;
    margin-top: 40px;
    background: #07013c;
 }
    .infor-web{
      width:78.4rem;
      height: 400px;
      margin-right: auto;
      margin-left: auto;
      padding: 2px;
    
    }
    .footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    margin-top: 10px;
    }
    .page img{
    width: 10rem;
    height: 5rem;
    
    }
    
    .page p{
    color: white;
    font-size: 15px;
    line-height: 2rem;
    margin-bottom: 10px;
    }
    .page .share a{
    text-decoration: none;
    height: 3rem;
    width: 3rem;
    border-radius: .5rem;
    background: #666;
    color: white;
    text-align: center;
    line-height: 3rem;
    font-size: 20px;
    }
    .page .share a:hover{
    background: orange;
    color: white;
    }
    .contact-infor h3{
    color: white;
    margin-top: 10px;
    }
    .contact-infor a {
    
    text-decoration: none;
    display: block;
    font-size: 15px;
    line-height: 2.5rem;
    color: white;
    }
    .contact-infor a i{
    margin-right: 10px;
    }
    .contact-infor a:hover{
    color: orange;
    }
    .menu-bar{
    color: white;
    margin-top: 10px;
    }
    .menu-bar a{
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: white;
    line-height: 2.5rem;
    }
    .menu-bar a i{
     
    padding-right: 10px;
    }
    .menu-bar  .link:hover i{
    margin-right: 1rem;
    } 