*{
  /* margin: 0; */
  padding: 0;

}
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.nav{
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #07013c;
  z-index: 9999;
}
.menu{
  display:flex;
  justify-content: space-between;
}
.menu-icons .nav-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-icons .nav-link li{
  list-style: none; 
  margin: 10px 40px 0 40px;
}
.menu-icons .nav-link li a{
  text-decoration: none;  
  color: white;
  position: relative;
}
.nav-link  .fa-solid{
  margin-right: 5px;
}
.menu .logo img{
  margin-top: 7px;
  margin-left: 10px;
  height: 60px;
  object-fit: cover;
  width: 100%;
}
.menu button{
  border: none;
  background: transparent;
  background: #362aa2b7;
  width: 90px;
  height: 40px;
  margin-right: 10px;
  margin-top: 15px;
  border-radius: 4px;
}
.menu button a{
  text-decoration: none;
  color: white;
}

.nav-link .active a::after,
.menu-item a::after {
content:"";
position: absolute;
width: 100%;
height: 2px;
background-color: white;
bottom: -7px;
left: 0;
visibility: visible; 
transition: .5s
}
.menu-item  a::after{
visibility: hidden;
transform: scaleX(0);
}
.nav-link .active a::after {
visibility: visible; 
transform: scaleX(1); 
} 
.menu-item a:hover::after {
  visibility: visible; 
  transform: scaleX(1); 
  
}


.main{
position: relative;
}
.main{
margin: 0px 0px;
}
.pic-img{
object-fit: cover;
width: 100%;
height: 420px;
background-image: url(../images/bannerhome.png); 
background-size: cover;
background-repeat: no-repeat;
background-position: center;


}
.pic-img::after{
content:'';
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
}
.content{
position: absolute;
top: 50%;
left: 35%; 
transform: translate(-50%,-50%);
text-align: center;
}
.content, h1 p{
color: #fff;

}
.content p{
margin-top: 10px;
margin-bottom: 30px;

}
.content button{
border: none;
width: 200px;
height: 60px;
background-color: #6a5af9;
border-radius: 5px;
font-size: 20px;
}
.content button a{
  text-decoration: none;
  color: white;
}

.top-company{
  width: 100%;
  height: auto;
  background: #b9b9b9;
}

.partner{
  max-width: 79.9rem;
  height: 350px;
  border: 1px solid none;
  padding: 1px;
  margin-right: auto;
  margin-left: auto;

}
.partner h1{
  font-size: 25px;
  margin:20px auto 0 auto;
  width: 300px;
  height: 80px;
  color: white;
  background-color: #6a5af9;
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
display: flex;
max-width: 70.4rem;
position: relative;
top: 40px;
margin: auto;

}
.wrapper i{
top: 75px;
height: 44px;
width: 44px;
color: black;
cursor: pointer;
font-size: 1.15rem;
position: absolute;
text-align: center;
line-height: 44px;
background: transparent;
background-color: white;
border-radius: 50%;
transform: translateY(-50%);
transition: transform 0.1s linear;
}
.wrapper i:active{
transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
background: #f2f2f2;
}
.wrapper i:first-child{
left: -48px;

}
.wrapper i:last-child{
right: -48px;
}
.wrapper .carousel{
font-size: 0px;
cursor: pointer;
overflow: hidden;
white-space: nowrap;
scroll-behavior: smooth;
}
.carousel.dragging{
cursor: grab;
scroll-behavior: auto;
}
.carousel.dragging img{
pointer-events: none;
}
.carousel img{
  height: 9.9rem;
  object-fit: cover;
  user-select: none;
  margin-left: 0px;
  width:23.5rem;
  background: white;
}
.carousel img:first-child{
margin-left: 0px;
}

/* @media screen and (max-width: 900px) {
.carousel img{
  width: calc(100% / 2);
}
}

@media screen and (max-width: 550px) {
.carousel img{
  width: 100%;
}
}  */


.job{
  width: 100%;
  height: auto;
  background: #fff
}
.job-position h1{
  font-size: 25px;
  margin:20px auto 40px auto;
  width: 300px;
  height: 80px;
  color: white;
  background-color: #6a5af9;
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.job-position{
  padding: 5px;
}
.job-work{
display: grid;
grid-template-columns: repeat(3, 20.3rem);
grid-template-rows: repeat(3,25rem);
justify-content: center;
gap: 3rem;
margin-bottom: 50px;
}
.card{
 border: 1px solid #b9b9b9;
 border-radius: 10px;
 transition: transform 0.3s ease-in-out;
 background-color:#07013c ;
}
.card:hover{
  transform: scale(1.1)
}
.card img{
width: 100%;
height: 150px;
/* border-bottom : 2px solid #0483f1; */
object-fit: cover; 
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.card-content{
  margin-left: 10px;
  line-height: 1.5;
  padding: 5px;
}
.card-content h3 {
font-size: 16px;
color: #ffff;
}
.card-content p{
font-size: 14px;
color: #ffff;
}
.short-content{
  display: flex;
  justify-content: space-around;
  margin-top: 17px;
}
.short-content .box1{
  width: 99px;
  height: 20px;
  background-color: #fefefe;
  border: 1px solid none;
  border-radius: 4px;
  font-size: 20px;
}
.short-content .box2{
  width: 140px;
  height: 20px;
  border: 1px solid none;
  border-radius: 7px;
  text-align: center;
}
.box-content{
  display: flex;
  justify-content: space-around;
}

.box-content .box1{
  width: 90px;
  height: 20px;
  background: #cfcafa;
  background-color: 1px solid none;
  border-radius: 4px;  
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  


}
.box-content .box2{
  width: 140px;
  height: 20px;
  background: #cfcafa;
  border-radius: 7px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .btn{
  width: 90px;
  height:20px;
  padding: 8px 16px;
  background: transparent;
  background-color: orange;  
  border-radius: 7px;
  margin: 16px auto 10px auto;
  text-align: center;
}
.card .btn a{
  text-decoration: none;
  color: #eee;
}

.assess{
width: 99.7%;
height: 100%;
background: #fff;
padding: 2px;
margin: auto;
}
.assess h1{
  font-size: 25px;
  margin:20px auto 30px auto;
  width: 650px;
  height: 100px;
  color: white;
  background-color: #6a5af9;
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider{
width: 1010px;
/* max-width: 100vw; */
height: 400px;
margin: 0px auto 30px auto;
position: relative;
overflow: hidden;
border: 1px solid #b9b9b9;
border-radius: 25px;
}
.slider .list{
position: absolute;
width: max-content;
height: 100%;
left: 0;
top: 0;
display: flex;
transition: 1s;
}
.slider .list img{
width: 1010px;
/* max-width: 100vw; */
height: 100%;
object-fit: cover;
}
.slider .buttons{
position: absolute;
top: 45%;
left: 5%;
width:  90%;
display: flex;
justify-content: space-between;
}
.slider .buttons button{
width: 50px;
height: 50px;
border-radius: 50%;
background-color: #fff5;
color: #fff;
border: none;
font-family: monospace;
font-weight: bold;
}
.slider .dots{
position: absolute;
bottom: 10px;
left: 0;
color: #fff;
width: 100%;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
}
.slider .dots li{
list-style: none;
width: 10px;
height: 10px;
background-color: #fff;
margin: 10px;
border-radius: 20px;
transition: 0.5s;
}
.slider .dots li.active{
width: 30px;
}


.top-category{
  width: 100%;
  height: 100%;
  background: #fff;
}
.major{
width: 78.7rem;
height: auto;
margin-right: auto;
margin-left: auto;
padding: 2px;
}
.major h1{
  font-size: 25px;
  margin:20px auto 30px auto;
  width: 300px;
  height: 80px;
  color: white;
  background-color: #6a5af9;
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.major-search{
display: flex;
flex-wrap: wrap;
justify-content: center;     
}
.major-container{
width: 190px;
height: 150px;
display: grid;
place-items: center;
margin: 2.5rem;
border-radius: 15px;
transition: border-color 0,3s ease-out;

}
.major-container button{
width: 70px;
height: 70px;
border: 1px solid #b9b9b9;
font-size: 40px;
margin-top: 10px;
border-radius: 10px;  
background-color: #07013c;
color: white;
}
/* .major-container button:hover{
  background-color: #07013c;
  color: white;
}
.major-container:hover button{
  background-color: #07013c;
  color: white;
}
.major-container:hover{
  background: #b9b9b9;
  border-color: #b9b9b9;
  color: white;
} */
.major-container p{
font-size: 18px;
}

.text{
  width: 100%;
  height: auto;
  background: #fff;
  margin-bottom: 0px;
}
.text-container{
  width: 78.4rem;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 2px;
}
.text-container h1{
  font-size: 25px;
  margin:20px auto 30px auto;
  width: 380px;
  height: 80px;
  color: white;
  background-color: #6a5af9;
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-text{
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}
.content-box button {
height: 49px;
width: 49px;
margin-right: 20px;
border: none;
background: transparent;
border-radius: 50%;
background-color: #6a5af9;
}
.content-box{
margin: 0 10px 20px 10px;
display: flex;
justify-content: space-around;
align-items: center;
padding: 10px;
width: 362px;
height: 130px;
background: white;
border-radius: 10px;
border: 2px solid #b9b9b9;
transition: border-color 0.3s ease-out;


}
.content-box:hover{
border-color: #6a5af9;
}

.box-card{
width: 70%;
}
.box-card h3 {
font-size: 1.2rem;
font-family:  "Montserrat", sans-serif;
font-weight: 700;

}
.box-card p{
font-size: 1rem;
font-family:  "Montserrat", sans-serif;
font-weight: 100;
}
.content-box  i{
font-size: 20px;
color: white;
}


.footer{
width: 100%;
height: auto;
background-color:#07013c;
}
.infor-web{
  width:78.4rem;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  padding: 2px;

}
.footer .box-container{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
gap:1.5rem;
margin-top: 10px;
}
.page img{
width: 10rem;
height: 5rem;

}

.page p{
color: white;
font-size: 15px;
line-height: 2rem;
margin-bottom: 10px;
}
.page .share a{
text-decoration: none;
height: 3rem;
width: 3rem;
border-radius: .5rem;
background: #666;
color: white;
text-align: center;
line-height: 3rem;
font-size: 20px;
}
.page .share a:hover{
background: orange;
color: white;
}
.contact-infor h3{
color: white;
margin-top: 10px;
}
.contact-infor a {

text-decoration: none;
display: block;
font-size: 15px;
line-height: 2.5rem;
color: white;
}
.contact-infor a i{
margin-right: 10px;
}
.contact-infor a:hover{
color: orange;
}
.menu-bar{
color: white;
margin-top: 10px;
}
.menu-bar a{
display: block;
text-decoration: none;
font-size: 15px;
color: white;
line-height: 2.5rem;
}
.menu-bar a i{
 
padding-right: 10px;
}
.menu-bar  .link:hover i{
margin-right: 1rem;
}