*{
    margin: 0;
    padding: 0;
  
  }
  body{
    font-family: 'Poppins', sans-serif;
  }
  
  .nav{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #07013c;
    z-index: 9999;
  }
  .menu{
    display:flex;
    justify-content: space-between;
  }
  .menu-icons .nav-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-icons .nav-link li{
    list-style: none; 
    margin: 25px 40px 0 40px;
  }
  .menu-icons .nav-link li a{
    text-decoration: none;  
    color: white;
    position: relative;
  }
  .nav-link  .fa-solid{
    margin-right: 5px;
  }
  .menu .logo img{
    margin-top: 7px;
    margin-left: 10px;
    height: 60px;
    object-fit: cover;
    width: 100%;
  }
  .menu button{
    border: none;
    background: transparent;
    background: #362aa2b7;
    width: 90px;
    height: 40px;
    margin-right: 10px;
    margin-top: 15px;
    border-radius: 4px;
  }
  .menu button a{
    text-decoration: none;
    color: white;
  }
  
  .nav-link .active a::after,
  .menu-item a::after {
  content:"";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: -7px;
  left: 0;
  visibility: visible; 
  transition: .5s
  }
  .menu-item  a::after{
  visibility: hidden;
  transform: scaleX(0);
  }
  .nav-link .active a::after {
  visibility: visible; 
  transform: scaleX(1); 
  } 
  .menu-item a:hover::after {
    visibility: visible; 
    transform: scaleX(1); 
    
  }


/* CSS cho ảnh và thanh tìm kiếm. */
.search-container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 40%;
    left: 2%;
}
.search-container button {
    padding: 10px 20px;
    background-color: #423f3f;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.search-container .input-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.search-container .input-icon i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
}

.search-container input {
    flex: 1;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;    
    width: calc(100% - 30px);
    padding: 10px 10px 10px 40px;
}

.mainJob{
    position: relative;
    margin: 0px 0px;
}
.imgJob{
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -2;
}
.imgJob::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
}
.contentJob{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}
.contentJob, h1 p{
    color: #fff;
    
}
.contentJob p{
    margin-top: 10px;
    margin-bottom: 30px;
}

.imgJob h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.imgJob p {
    font-size: 1.2rem;
}

.search-bar {
    position: relative;  
    width: 80%;
    margin: -40px auto 20px;
}
.search-bar img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    background-position: bottom center;
    border: 1px solid none;
    border-radius: 24px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
}
.search-text{
    background-color: white;
    position: absolute;
    top: -20%;
    line-height: 10px;
    margin-top: -5px 5px;
    height: 70px;
    width: 100%;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
.search-text h1{
    margin-left: 15px;
}
.search-text p{
    margin-left: 15px;
}
.top-jobs {
    padding: 20px;
    width: 80%;
    margin: -40px auto 20px;
}

.topjobAndImg{
    margin-top: 40px;
    background-color: #07013c;
    color: white;
    display: flex;
    width: 100%;
    height: 80px;
    border-radius: 15px;
}
.topjobAndImg img{
    height: 100%;
    width: 10%;
    object-fit: contain;
}
.topjobAndImg h2 {
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 8px;
}
.suggestions {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #f0f0f0;
}



/* Thẻ top 10 doanh nghiệp */
.jobs{
    display: flex;
    justify-content: space-around;
}
.job-card{
    margin: 20px;
    text-align: center;
    cursor: pointer;
    width: 50%;
    border: 1px solid #07013c;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    line-height: 35px;
}
.job-card1{
    margin: 20px;
    text-align: center;
    width: 50%;
    border-radius: 15px;
    line-height: 35px;
}
.job-card img{
    width: 30%;
    height: 30%;
    object-fit: contain;
    
}
.Salary-time{
    display: flex;
    justify-content: space-around;
}
.job-card:hover{
    background-color: #f0f0f0;
}


/* Những doanh nghiệp hàng đâu */
.BestEnterprise{
    padding: 20px;
    width: 80%;
    margin: -40px auto 20px;
    display: flex;
    gap: 20px; 
}

.BestEnterprise-card {
    border: 1px solid #07013c;
    background-color: white;
    width: 300px;
    height: 230px;
    border-radius: 5px;
    margin: 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.BestEnterprise-card:hover {
    background-color: #f0f0f0; 
}
.BestEnterprise-card img {
    padding-top: 10px;
    padding-bottom: 30px;
    width: 40%; 
    height: 30%; 
    object-fit: contain;
}
.card-text:hover {
    color: orange;
}
.BestEnterprise_Text_Img{
    padding: 10px;
    width: 80%;
    margin: 30px auto 20px;
    background-color: #07013c;
    color: white;
    display: flex;
    height: 55px;
    border-radius: 15px;
}
.BestEnterprise_Text_Img img{
    height: 100%;
    width: 10%;
    object-fit: contain;
}
.BestEnterprise_Text_Img h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 8px;
}

/* Top công việc đến từ TopCV */
.TopCV-main{
    width: 80%;
    margin: -40px auto 20px;
    gap: 20px; 
    border: 1px solid black;
    height: auto;
    border-radius: 15px;
}
.TopCV-TextImg{
    display: flex;
    padding: 10px;
    background-color: #07013c;
    color: white;
    display: flex;
    height: 60px;
    border-radius: 15px;
}
.TopCV-TextImg img{
    height: 100%;
    width: 10%;
    object-fit: contain;
}
.TopCV-TextImg h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 8px;
}
.TopCV-card{
    cursor: pointer;
    width: 35%;
    display: flex;
    border: 1px solid #07013c;
    margin: 10px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}
.TopCV-card:hover {
    background-color: #f0f0f0; 
}

.TopCV-card img{
    object-fit: contain;
    height: 38%;
    width: 38%;
    margin: 43px 15px;
}
.TopCV-card-main{
    display: flex;
    justify-content: space-between;
}
.TopCV-card-text{
    margin: 15px;
    line-height: 25px;
}

/* Lĩnh vực hot */
.background {
    margin-top: 50px;
    width: 100%;
    height: 250px;
    position: relative;
}
.background img {
    width: 100%;
    height: 300px;
    z-index: -1;
}
.list {
    position: absolute;
    margin-left: 150px;
    z-index: 1;
}
.list h2 {
    color: white;
    margin-top: -270px;
    margin-left: 20px;
}
.list-card {
    display: flex;
    align-items: center;
    position: relative; 
    overflow: hidden; 
    width: 1260px; 
}
.list-card-mot {
    background-color: white;
    height: 200px;
    width: 290px;
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 20px;
    position: relative; 
    flex-shrink: 0;
    cursor: pointer;
}
.list-card-mot img {
    margin-top: 8px;
    height: 50%;
    width: 100%;
    object-fit: contain;
}
.list-card-mot h3 {
    text-align: center;
    margin-top: 15px;
}

.list-card-mot h3:hover{
    color:orange;
}
.list-card-mot p {
    text-align: center;
    margin-top: 10px;
}



#left,
#right {
    margin-top: -125px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: white; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    transition: background-color 0.3s ease;
}

#left {
    border-radius: 50%; 
}

#right {
    right: -8px;
    border-radius: 50%; 
}

#left:hover{
    background-color: #f0f0f0;
}

#right:hover{
    background-color: #f0f0f0;
}