*{
    margin: 0;
    padding: 0;
  
  }
  body{
    font-family: 'Poppins', sans-serif;
  }
  .nav{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #07013c;
    z-index: 9999;
  }
  .menu{
    display:flex;
    justify-content: space-between;
  }
  .menu-icons .nav-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-icons .nav-link li{
    list-style: none; 
    margin: 25px 40px 0 40px;
  }
  .menu-icons .nav-link li a{
    text-decoration: none;  
    color: white;
    position: relative;
  }
  .nav-link  .fa-solid{
    margin-right: 5px;
  }
  .menu .logo img{
    margin-top: 15px;
    margin-left: 10px;
    height: 50px;
    object-fit: contain;
    width: 100%;
}
  .menu button{
    border: none;
    background: transparent;
    background: #362aa2b7;
    width: 90px;
    height: 40px;
    margin-right: 10px;
    margin-top: 15px;
    border-radius: 4px;
  }
  .menu button a{
    text-decoration: none;
    color: white;
    font-size: 17px;
  }
  
  .nav-link .active a::after,
  .menu-item a::after {
  content:"";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: -7px;
  left: 0;
  visibility: visible; 
  transition: .5s
  }
  .menu-item  a::after{
  visibility: hidden;
  transform: scaleX(0);
  }
  .nav-link .active a::after {
  visibility: visible; 
  transform: scaleX(1); 
  } 
  .menu-item a:hover::after {
    visibility: visible; 
    transform: scaleX(1); 
    
  }


/* CSS cho ảnh và thanh tìm kiếm. */
.search-container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 40%;
    left: 2%;
}
.search-container button {
    padding: 10px 20px;
    background-color: #423f3f;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.search-container .input-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.search-container .input-icon i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
}

.search-container input {
    flex: 1;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;    
    width: calc(100% - 30px);
    padding: 10px 10px 10px 40px;
}

.mainJob{
    position: relative;
    margin: 0px 0px;
}
.imgJob{
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -2;
}
.imgJob::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
}
.contentJob{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}
.contentJob, h1 p{
    color: #fff;
    
}
.contentJob p{
    margin-top: 10px;
    margin-bottom: 30px;
}

.imgJob h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.imgJob p {
    font-size: 1.2rem;
}

.search-bar {
    position: relative;  
    width: 80%;
    margin: -40px auto 20px;
}
.search-bar img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    background-position: bottom center;
    border: 1px solid none;
    border-radius: 24px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
}
.search-text{
    background-color: white;
    position: absolute;
    top: -20%;
    line-height: 10px;
    margin-top: -5px 5px;
    height: 70px;
    width: 100%;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
.search-text h1{
    margin-left: 15px;
}
.search-text p{
    margin-left: 15px;
}
.top-jobs {
    padding: 20px;
    width: 80%;
    margin: -40px auto 20px;
}

.topjobAndImg{
    margin-top: 40px;
    background-color: #07013c;
    color: white;
    display: flex;
    width: 100%;
    height: 80px;
    border-radius: 15px;
}
.topjobAndImg img{
    height: 100%;
    width: 10%;
    object-fit: contain;
}
.topjobAndImg h2 {
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 8px;
}
.suggestions {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #f0f0f0;
}



/* Thẻ top 10 doanh nghiệp */
.jobs{
    display: flex;
    justify-content: space-around;
}
.job-card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
    cursor: pointer;
    width: 50%;
    border: 1px solid #07013c;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    line-height: 35px;
    height: 310px;
}
.job-card1{
    margin: 20px;
    width: 50%;
}
.job-card img{
    margin-top: 5px;
    width: 45%;
    height: 30%;
    object-fit: contain;
}
.job-card h2{
    margin-top: -18px;
    color: #07013c;
}
.job-card:hover h2 {
    color: #FFA500; 
}
.Salary-time{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.job-card:hover{
    background-color: #f0f0f0;
}
.job-card:hover h2,
.job-card:hover p,
.job-card:hover .Salary-time p {
    color: #FFA500; 
}
.job-card a{
    text-decoration: none; 
    color: black;
}
/* Thực tập */
.TopCV-main-1{
    width: 80%;
    margin: 30px auto 20px;
    gap: 20px; 
    border: 1px solid black;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
}
#left2, #right2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 1px solid #07013c;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#left2 {
    margin-left: 10px;
}
#left2:hover{
    background-color: #f0f0f0;
}

#right2:hover{
    background-color: #f0f0f0;
}
/* Top công việc đến từ Vietnamworks*/
.TopCV-main{
    width: 80%;
    margin: 40px auto 20px;
    gap: 20px; 
    border: 1px solid black;
    height: auto;
    border-radius: 15px;
}
.TopCV-TextImg{
    display: flex;
    padding: 10px;
    background-color: #07013c;
    color: white;
    display: flex;
    height: 60px;
    border-radius: 15px;
}
.TopCV-TextImg img{
    height: 100%;
    width: 10%;
    object-fit: contain;
}
.TopCV-TextImg h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 8px;
}
.TopCV-card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 35%;
    display: flex;
    border: 1px solid #07013c;
    margin: 10px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    max-height: auto;
    min-height: auto;
}

.TopCV-card:hover {
    background-color: #f0f0f0; 
}
.TopCV-card a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.TopCV-card img{
    object-fit: contain;
    height: 38%;
    width: 38%;
    margin: 43px 15px;
}
.TopCV-card-main{
    display: flex;
    justify-content: space-between;
}
.TopCV-card-text{
    margin: 15px;
    line-height: 25px;
}
.TopCV-card a {
    text-decoration: none; 
    color: black;
    font-size: 0.8rem;
}
.TopCV-cardt h3 {
    color: black; 
    text-decoration: none;
}
.TopCV-card p {
    color: black; 
    text-decoration: none;
}
.Trang {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 10px;
}

#left1, #right1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 1px solid #07013c;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#left1 {
    margin-left: 10px;
}
#left1:hover{
    background-color: #f0f0f0;
}

#right1:hover{
    background-color: #f0f0f0;
}
.TopCV-pages {
    display: none;
}

.TopCV-pages:first-child {
    display: block;
}

/* Lĩnh vực hot */
.background {
    margin-top: 50px;
    width: 100%;
    height: 250px;
    position: relative;
    
}
.background img {
    width: 100%;
    height: 300px;
    z-index: -1;
   
}
.list {
    position: absolute;
    z-index: 1; 
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.list h2 {
    color: white;
    margin-top: -280px;
    margin-left: 20px;
}
.list-card {
    display: flex;

    overflow: hidden; 
    position: relative;
    width: 76rem;
    
    
}
.list-card-mot {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    height: 200px;
    width: 280px;
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 20px;
    position: relative; 
    flex-shrink: 0;
    cursor: pointer;
}
.list-card-mot a {
    text-decoration: none; 
    color: black;
}
.list-card-mot img {
    margin-top: 8px;
    height: 50%;
    width: 100%;
    object-fit: contain;
}
.list-card-mot h3 {
    text-align: center;
    margin-top: 15px;
    color: black; 
    text-decoration: none;
}

.list-card-mot h3:hover{
    color:orange;
}
.list-card-mot p {
    text-align: center;
    margin-top: 10px;
    color: black; 
    text-decoration: none;
}



#left,
#right {
    margin-top: -125px;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: white; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    transition: background-color 0.3s ease;
}

#left {
    border-radius: 50%; 
}

#right {
    right: -20px;
    border-radius: 50%; 
}

#left:hover{
    background-color: #f0f0f0;
}

#right:hover{
    background-color: #f0f0f0;
}

.footer{
    width: 100%;
    height: auto;
    background-color: #07013c;
    margin-top: 3rem;
  }
.footer .box-container{
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(3, 100px);
  gap: 2rem;
  justify-content: center;
  margin-top: 10px;
}
.page{
  margin-left: 10px;
  margin-top: 20px;
}
.page img{
  width: 70%;
  height: 70px;
  object-fit: contain;
 
}
 
.page p{
  color: white;
  font-size: 15px;
  line-height: 2rem;
  margin-bottom: 10px;
}
.page .share a{
  text-decoration: none;
  height: 3rem;
  width: 3rem;
  border-radius: .5rem;
  background: #666;
  color: white;
  text-align: center;
  line-height: 3rem;
  font-size: 20px;
}
.page .share a:hover{
  background: orange;
  color: white;
}
.contact-infor {
  margin-left: 10px;
  margin-top:17px;
}
.contact-infor h3{
  color: white;
  margin-top: 10px;
}
.contact-infor a {
 
  text-decoration: none;
  display: block;
  font-size: 15px;
  line-height: 2.5rem;
  color: white;
}
.contact-infor a i{
  margin-right: 10px;
}
.contact-infor a:hover{
  color: orange;
}
.menu-bar{
  color: white;
  margin-top: 25px;
}
.menu-bar a{
  display: block;
  text-decoration: none;
  font-size: 15px;
  color: white;
  line-height: 2.5rem;
}
.menu-bar a i{
   
  padding-right: 10px;
}
.menu-bar  .link:hover i{
  margin-right: 1rem;
}